
CREATE TABLE [dbo].[Adresa](
	[AdresaId] [int] IDENTITY(1,1) NOT NULL,
	[NazivAdrese] [nvarchar](30) NOT NULL,
	[OsobaId] [int] NOT NULL,
	[TipAdreseId] [int] NOT NULL,
	[GradId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmailAdresa]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailAdresa](
	[EmailAdresaId] [int] IDENTITY(1,1) NOT NULL,
	[NazivEmailAdrese] [nvarchar](30) NOT NULL,
	[OsobaId] [int] NOT NULL,
	[TipEmailAdreseId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailAdresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FiksniTelefon]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiksniTelefon](
	[FiksniTelefonId] [int] IDENTITY(1,1) NOT NULL,
	[LokalFiksniId] [int] NULL,
	[TipFiksniId] [int] NULL,
	[BrojFiksnog] [nvarchar](15) NOT NULL,
	[OsobaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FiksniTelefonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grad]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grad](
	[GradId] [int] IDENTITY(1,1) NOT NULL,
	[NazivGrada] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GradId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LokalFiksni]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LokalFiksni](
	[LokalFiksniId] [int] IDENTITY(1,1) NOT NULL,
	[LokalFik] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LokalFiksniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LokalMobilni]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LokalMobilni](
	[LokalMobilniId] [int] IDENTITY(1,1) NOT NULL,
	[LokalMob] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LokalMobilniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MobilniTelefon]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobilniTelefon](
	[MobilniTelefonId] [int] IDENTITY(1,1) NOT NULL,
	[LokalMobilniId] [int] NULL,
	[TipMobilniId] [int] NULL,
	[BrojMobilnog] [nvarchar](15) NOT NULL,
	[OsobaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MobilniTelefonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opstina]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opstina](
	[OpstinaId] [int] IDENTITY(1,1) NOT NULL,
	[NazivOpstine] [nvarchar](20) NOT NULL,
	[GradId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OpstinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Osoba]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osoba](
	[OsobaId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](20) NOT NULL,
	[Prezime] [nvarchar](25) NOT NULL,
	[ImeRoditelja] [nvarchar](20) NULL,
	[JMBG] [nvarchar](13) NULL,
	[BrojLicneKarte] [nvarchar](9) NULL,
	[DatumRodjenja] [date] NULL,
	[OpstinaRodjenjaId] [int] NULL,
	[PolId] [int] NULL,
	[Fotografija] [image] NULL,
	[Beleska] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[OsobaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pol]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pol](
	[PolId] [int] IDENTITY(1,1) NOT NULL,
	[NazivPola] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipAdrese]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipAdrese](
	[TipAdreseId] [int] IDENTITY(1,1) NOT NULL,
	[VrstaAdrese] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipAdreseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipEmailAdrese]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipEmailAdrese](
	[TipEmailAdreseId] [int] IDENTITY(1,1) NOT NULL,
	[VrstaEmailAdrese] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipEmailAdreseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipFiskni]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipFiskni](
	[TipFiksniId] [int] IDENTITY(1,1) NOT NULL,
	[VrstaFiksni] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipFiksniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipMobilni]    Script Date: 21-Aug-17 20:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipMobilni](
	[TipMobilniId] [int] IDENTITY(1,1) NOT NULL,
	[VrstaMobilni] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipMobilniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Adresa] ON 

INSERT [dbo].[Adresa] ([AdresaId], [NazivAdrese], [OsobaId], [TipAdreseId], [GradId]) VALUES (3, N'Bitoljska 23', 5, 1, 1)
INSERT [dbo].[Adresa] ([AdresaId], [NazivAdrese], [OsobaId], [TipAdreseId], [GradId]) VALUES (4, N'Nemanjina 17', 5, 2, 1)
INSERT [dbo].[Adresa] ([AdresaId], [NazivAdrese], [OsobaId], [TipAdreseId], [GradId]) VALUES (5, N'Trgovačka 10', 6, 1, 1)
SET IDENTITY_INSERT [dbo].[Adresa] OFF
SET IDENTITY_INSERT [dbo].[EmailAdresa] ON 

INSERT [dbo].[EmailAdresa] ([EmailAdresaId], [NazivEmailAdrese], [OsobaId], [TipEmailAdreseId]) VALUES (8, N'nemanja@gmail.com', 5, 1)
INSERT [dbo].[EmailAdresa] ([EmailAdresaId], [NazivEmailAdrese], [OsobaId], [TipEmailAdreseId]) VALUES (9, N'nemanja.nikolic@gmail.com', 5, 2)
INSERT [dbo].[EmailAdresa] ([EmailAdresaId], [NazivEmailAdrese], [OsobaId], [TipEmailAdreseId]) VALUES (10, N'nikolina@gmail.com', 6, 1)
SET IDENTITY_INSERT [dbo].[EmailAdresa] OFF
SET IDENTITY_INSERT [dbo].[FiksniTelefon] ON 

INSERT [dbo].[FiksniTelefon] ([FiksniTelefonId], [LokalFiksniId], [TipFiksniId], [BrojFiksnog], [OsobaId]) VALUES (4, 1, 1, N'2804453', 5)
INSERT [dbo].[FiksniTelefon] ([FiksniTelefonId], [LokalFiksniId], [TipFiksniId], [BrojFiksnog], [OsobaId]) VALUES (5, 1, 2, N'2778881', 5)
INSERT [dbo].[FiksniTelefon] ([FiksniTelefonId], [LokalFiksniId], [TipFiksniId], [BrojFiksnog], [OsobaId]) VALUES (6, 2, 1, N'2452666', 6)
SET IDENTITY_INSERT [dbo].[FiksniTelefon] OFF
SET IDENTITY_INSERT [dbo].[Grad] ON 

INSERT [dbo].[Grad] ([GradId], [NazivGrada]) VALUES (1, N'Beograd')
INSERT [dbo].[Grad] ([GradId], [NazivGrada]) VALUES (2, N'Novi Sad')
INSERT [dbo].[Grad] ([GradId], [NazivGrada]) VALUES (3, N'Kragujevac')
SET IDENTITY_INSERT [dbo].[Grad] OFF
SET IDENTITY_INSERT [dbo].[LokalFiksni] ON 

INSERT [dbo].[LokalFiksni] ([LokalFiksniId], [LokalFik]) VALUES (1, N'011')
INSERT [dbo].[LokalFiksni] ([LokalFiksniId], [LokalFik]) VALUES (2, N'021')
INSERT [dbo].[LokalFiksni] ([LokalFiksniId], [LokalFik]) VALUES (3, N'034')
SET IDENTITY_INSERT [dbo].[LokalFiksni] OFF
SET IDENTITY_INSERT [dbo].[LokalMobilni] ON 

INSERT [dbo].[LokalMobilni] ([LokalMobilniId], [LokalMob]) VALUES (11, N'060')
INSERT [dbo].[LokalMobilni] ([LokalMobilniId], [LokalMob]) VALUES (12, N'061')
INSERT [dbo].[LokalMobilni] ([LokalMobilniId], [LokalMob]) VALUES (13, N'062')
SET IDENTITY_INSERT [dbo].[LokalMobilni] OFF
SET IDENTITY_INSERT [dbo].[MobilniTelefon] ON 

INSERT [dbo].[MobilniTelefon] ([MobilniTelefonId], [LokalMobilniId], [TipMobilniId], [BrojMobilnog], [OsobaId]) VALUES (4, 11, 1, N'3232111', 5)
INSERT [dbo].[MobilniTelefon] ([MobilniTelefonId], [LokalMobilniId], [TipMobilniId], [BrojMobilnog], [OsobaId]) VALUES (5, 14, 2, N'377383', 5)
INSERT [dbo].[MobilniTelefon] ([MobilniTelefonId], [LokalMobilniId], [TipMobilniId], [BrojMobilnog], [OsobaId]) VALUES (6, 16, 1, N'2122235', 6)
SET IDENTITY_INSERT [dbo].[MobilniTelefon] OFF
SET IDENTITY_INSERT [dbo].[Opstina] ON 

INSERT [dbo].[Opstina] ([OpstinaId], [NazivOpstine], [GradId]) VALUES (1, N'Čukarica', 1)
INSERT [dbo].[Opstina] ([OpstinaId], [NazivOpstine], [GradId]) VALUES (3, N'Novi Beograd', 1)
INSERT [dbo].[Opstina] ([OpstinaId], [NazivOpstine], [GradId]) VALUES (5, N'Palilula', 1)
SET IDENTITY_INSERT [dbo].[Opstina] OFF
SET IDENTITY_INSERT [dbo].[Osoba] ON 

SET IDENTITY_INSERT [dbo].[Osoba] OFF
SET IDENTITY_INSERT [dbo].[Pol] ON 

INSERT [dbo].[Pol] ([PolId], [NazivPola]) VALUES (1, N'Ženski')
INSERT [dbo].[Pol] ([PolId], [NazivPola]) VALUES (2, N'Muški')
SET IDENTITY_INSERT [dbo].[Pol] OFF
SET IDENTITY_INSERT [dbo].[TipAdrese] ON 

INSERT [dbo].[TipAdrese] ([TipAdreseId], [VrstaAdrese]) VALUES (1, N'Privatna')
INSERT [dbo].[TipAdrese] ([TipAdreseId], [VrstaAdrese]) VALUES (2, N'Poslovna')
SET IDENTITY_INSERT [dbo].[TipAdrese] OFF
SET IDENTITY_INSERT [dbo].[TipEmailAdrese] ON 

INSERT [dbo].[TipEmailAdrese] ([TipEmailAdreseId], [VrstaEmailAdrese]) VALUES (1, N'Privatna')
INSERT [dbo].[TipEmailAdrese] ([TipEmailAdreseId], [VrstaEmailAdrese]) VALUES (2, N'Poslovna')
SET IDENTITY_INSERT [dbo].[TipEmailAdrese] OFF
SET IDENTITY_INSERT [dbo].[TipFiskni] ON 

INSERT [dbo].[TipFiskni] ([TipFiksniId], [VrstaFiksni]) VALUES (1, N'Privatni')
INSERT [dbo].[TipFiskni] ([TipFiksniId], [VrstaFiksni]) VALUES (2, N'Poslovni')
SET IDENTITY_INSERT [dbo].[TipFiskni] OFF
SET IDENTITY_INSERT [dbo].[TipMobilni] ON 

INSERT [dbo].[TipMobilni] ([TipMobilniId], [VrstaMobilni]) VALUES (1, N'Privatni')
INSERT [dbo].[TipMobilni] ([TipMobilniId], [VrstaMobilni]) VALUES (2, N'Poslovni')
SET IDENTITY_INSERT [dbo].[TipMobilni] OFF
ALTER TABLE [dbo].[Adresa]  WITH CHECK ADD FOREIGN KEY([GradId])
REFERENCES [dbo].[Grad] ([GradId])
GO
ALTER TABLE [dbo].[Adresa]  WITH CHECK ADD FOREIGN KEY([OsobaId])
REFERENCES [dbo].[Osoba] ([OsobaId])
GO
ALTER TABLE [dbo].[Adresa]  WITH CHECK ADD FOREIGN KEY([TipAdreseId])
REFERENCES [dbo].[TipAdrese] ([TipAdreseId])
GO
ALTER TABLE [dbo].[EmailAdresa]  WITH CHECK ADD FOREIGN KEY([OsobaId])
REFERENCES [dbo].[Osoba] ([OsobaId])
GO
ALTER TABLE [dbo].[EmailAdresa]  WITH CHECK ADD FOREIGN KEY([TipEmailAdreseId])
REFERENCES [dbo].[TipEmailAdrese] ([TipEmailAdreseId])
GO
ALTER TABLE [dbo].[FiksniTelefon]  WITH CHECK ADD FOREIGN KEY([LokalFiksniId])
REFERENCES [dbo].[LokalFiksni] ([LokalFiksniId])
GO
ALTER TABLE [dbo].[FiksniTelefon]  WITH CHECK ADD FOREIGN KEY([OsobaId])
REFERENCES [dbo].[Osoba] ([OsobaId])
GO
ALTER TABLE [dbo].[FiksniTelefon]  WITH CHECK ADD FOREIGN KEY([TipFiksniId])
REFERENCES [dbo].[TipFiskni] ([TipFiksniId])
GO
ALTER TABLE [dbo].[MobilniTelefon]  WITH CHECK ADD FOREIGN KEY([LokalMobilniId])
REFERENCES [dbo].[LokalMobilni] ([LokalMobilniId])
GO
ALTER TABLE [dbo].[MobilniTelefon]  WITH CHECK ADD FOREIGN KEY([OsobaId])
REFERENCES [dbo].[Osoba] ([OsobaId])
GO
ALTER TABLE [dbo].[MobilniTelefon]  WITH CHECK ADD FOREIGN KEY([TipMobilniId])
REFERENCES [dbo].[TipMobilni] ([TipMobilniId])
GO
ALTER TABLE [dbo].[Opstina]  WITH CHECK ADD FOREIGN KEY([GradId])
REFERENCES [dbo].[Grad] ([GradId])
GO
ALTER TABLE [dbo].[Osoba]  WITH CHECK ADD FOREIGN KEY([OpstinaRodjenjaId])
REFERENCES [dbo].[Opstina] ([OpstinaId])
GO
ALTER TABLE [dbo].[Osoba]  WITH CHECK ADD FOREIGN KEY([PolId])
REFERENCES [dbo].[Pol] ([PolId])
GO
USE [master]
GO
